<div class="row">
  <%= form_for @post, :html => {class: "form-horizontal", :multipart => true} do |f| %>
    <fieldset>
      <legend></legend>
        <% if @post.errors.any? %>
          <div id="error_explanation notice">
            <div class="alert alert-temp fade in alert-error">
              <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
            </div>
            <ul class="unstyled">
            <% @post.errors.full_messages.each do |msg| %>
              <li class="alert alert-error"><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field form-group">
          <%= f.label :title, class: "col-lg-1 control-label input-lg" %><br>
          <div class="col-lg-11">
            <%= f.text_field :title, class: "form-control input-lg" %>
          </div>
        </div>

        <div class="field form-group">
          <%= f.label :tag_list, class: "col-lg-1 control-label input-lg" %><br>
          <div class="col-lg-11">
            <%= f.text_field :tag_list, { :placeholder => "Tags separated by commas", class: "form-control input-lg" } %>
          </div>
        </div>

        <div class="field form-group">
          <%= f.label :image, class: "col-lg-1 control-label input-lg" %><br>
          <div class="col-lg-11">
            <%#= f.hidden_field :image_cache %>
            <%= f.file_field :image, class: "input-lg" %>
          </div>
        </div>

        <div class="progress progress-striped active">
          <div class="progress-bar progress-bar-success" style="width: 0%"></div>
        </div>

        <div class="field form-group">
          <%= f.label :text, hidden: true, class: "col-lg-1 control-label input-lg" %><br>
          <div class="col-lg-12">
            <%= f.text_area :text, :id => "tinymce4", :rel => "tinymce", :rows => 10, :cols => 40 %>
          </div>
        </div>

        <div class="actions form-group">
          <div class="col-lg-12">
            <%= f.submit class: "btn btn-success" %>
          </div>
        </div>
      <% end %>

      </fieldset>
    </form>
  </div>
