<div class="row">
  <h1>Blogs</h1>

  <% @posts.each do |post| %>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">
          <%= post.title %>
        </h3>
      </div>
      <div class="panel-body">
        <blockquote>
          <p><%= raw post.text %></p>
        </blockquote>
      </div>
      <div class="panel-footer">
        -
        <small><%= post.author.by_line %></small>
        <div class="pull-right">
          <%= link_to 'Full Post', post, class: "btn btn-info" %>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  <% end %>

  <br>

  <% if current_user %>
    <%= link_to 'New Post', new_post_path, class: "btn btn-success" %>
  <% end %>
</div>

