<div class="row">

  <p id="notice"><%= notice %></p>

  <div class="col-lg-12 pull-right">
    <div class="btn-group pull-right">
      <% if current_user && @post.author == current_user %>
        <%= link_to 'Edit', edit_post_path(@post), class: "btn btn-default" %>
        <%= link_to "Delete", @post,
                              class: "btn btn-default",
                              method: :delete,
                              data: { confirm: "You sure?" },
                              title: @post.title %>
        <%= link_to 'Back', posts_path, class: "btn btn-default" %>
      <% end %>
    </div>
  </div>

  <div class="col-lg-12 blog-container">
    <div class="jumbotron">
      <h1><%= @post.title %></h1>
      <div class="blog-img">
        <%= image_tag @post.image.url %>
      </div>
      <p>
        <%= raw @post.text %>
      </p>
      <small><%= @post.author.by_line %></small>
      <div class="clear"></div>
    </div>
  </div>

<div class="row">
  <div class="col-lg-12">

  <h3>Comments</h3>
    <%= render @post.comments %>
  <hr>
    <%= render "blogament/comments/form" %>

  </div>
</div>
