<div class="row">

  <p id="notice"><%= notice %></p>

  <div class="col-lg-12 pull-right">
    <div class="btn-group pull-right">
      <% if current_user && @post.author == current_user %>
        <%= link_to 'Edit', edit_post_path(@post), class: "btn btn-default" %>
        <%= link_to 'Back', posts_path, class: "btn btn-default" %>
      <% end %>
    </div>
  </div>

  <div class="col-lg-12">
    <div>
      <%= image_tag @post.image_url(:thumb).to_s %>
    </div>

    <div class="jumbotron">
      <h1><%= @post.title %></h1>
      <p>
        <%= raw @post.text %>
      </p>
      <small><%= @post.author.by_line %></small>
    </div>
  </div>

<div class="row">
  <div class="col-lg-12">

  <h3>Comments</h3>
    <%= render @post.comments %>
  <hr>
    <%= render "blogament/comments/form" %>

  </div>
</div>
