<!DOCTYPE html>
<html>
<head>
  <title>Blogament</title>
  <%= stylesheet_link_tag    "blogament/application", media: "all" %>
  <%= javascript_include_tag "blogament/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-default">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Home", main_app.root_path, class: "navbar-brand" %>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><%= link_to "Posts", posts_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      </ul>
    </div>
  </div>

  <div class="container">

  <div id="notice">
    <% flash.each do |key, value| %>
      <div class="alert-temp alert fade in alert-<%= key %>"><%= value %></div>
    <% end %>
  </div>

    <%= yield %>

  </div>

  </body>
  <%= tinymce %>
</html>
